html, body {
	max-width: 640px;
}
.expand {
	cursor: pointer;
}

.expanded img {
	display: none;
}
img.not_visible {
	display: none;
}
.expanded img.not_visible {
	display: block;
}



#payment,
#delivery {
	position: relative;
}
#payment a,
#delivery a {
	outline: none;
}

.list{
	position: absolute;
	left: 0;	
	width: 100%;
}
.list a{
	display: block;	
}

body .pickup-credit,
body .bank-credit 
{display: none;}


.bank-credit .bank-credit{display: block;}
.pickup-credit .pickup-credit{display: block;}