html, body {
	max-width: 640px;
}
.expand {
	cursor: pointer;
}

.expanded img {
	display: none;
}
img.not_visible {
	display: none;
}
.expanded img.not_visible {
	display: block;
}



#payment,
#delivery {
	position: relative;
}
#payment a,
#delivery a {
	outline: none;
}

.list{
	position: absolute;
	left: 0;	
	width: 100%;
}
.list a{
	display: block;	
}

body .pickup-credit,
body .bank-credit,
body .bank-withdrawal,
body .home-withdrawal,
body .pickup-withdrawal,
body .bank-debit
{display: none;}


.bank-credit .bank-credit,
.pickup-credit .pickup-credit,
.bank-debit .bank-debit,
.bank-withdrawal .bank-withdrawal,
.home-withdrawal .home-withdrawal,
.pickup-withdrawal .pickup-withdrawal{display: block;}